.profile-paragraph{
    border: 2px solid rgb(2, 2, 63);
    width: 30%;
    background-color: rgb(171, 194, 194);
    border-radius: 5px;
    padding: 10px;

}


.dummy-div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #fff;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}