/* CSS */
.expense-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
  }
  
  .expense-title {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .expense-form {
    display: flex;
    flex-direction: column;
  }
  
  .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  